<!-- for mathjax support -->
{% if page.usemathjax %}
  <script type="text/x-mathjax-config">
    window.MathJax = {
      loader: {load: ['[tex]/physics']},
      tex: {packages: {'[+]': ['physics']}}
    };
  </script>
{% endif %}


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZT9KVZHN2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZT9KVZHN2');
</script>
